@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia.woff") format("woff");
  font-weight: 400; /* Normal */
  font-style: normal;
}
